<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Compra</title>
</head>
<body>
    <h1>Finalizar Compra</h1>
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p><strong>Preço:</strong> R$ {{ product.price }}</p>
    <p><strong>Estoque Disponível:</strong> {{ product.stock }}</p>

    <form action="" method="post">
        {% csrf_token %}
        <button type="submit">Confirmar Compra</button>
    </form>
    

    <a href="{% url 'product_list' %}">Voltar para a Lista de Produtos</a>
</body>
</html>
